body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  padding: 0 8px;
}

.container {
  margin: 0 auto;
  max-width: 450px;
}

h1 {
  font-size: 18px;
  line-height: 45px;
  margin: 0 auto;
  padding: 0;
}

h1 a {
  color: #000;
  text-decoration: none;
}

h1 a:hover {
  color: #000;
}

h1 a:focus {
  color: #000;
  text-decoration: none;
}

h1 .breadcrumb-page {
  font-weight: normal;
}

h1 .breadcrumb-chevron {
  padding: 0 3px;
}

h2 {
  font-size: 18px;
  line-height: 45px;
  padding: 0;
  margin: 0;
}

.header-row {
  margin-top: 10px;
}

.list-group {
  border: 1px #ccc solid;
  border-radius: 4px
}

.list-group-item:first-child {
  border: 1px #ccc solid;
  border-width: 0 0 1px 0;
}

.list-group-item {
  border-top: 0;
  border: 1px #ccc solid;
  border-width: 0 0 1px 0;
  padding: 10px 12px;
  line-height: 21px;
}

.list-group-item:last-child {
  border: 0;
}

.controls > a {
  padding: 0 5px;
}

.quiet {
  color: #666;
}

.padded-row {
  padding-bottom: 8px;
}

.btn-strong {
  font-weight: bold;
}
